/* Estilos para o cabeçalho */
/* Estilos para o header */
/* Estilo geral */
body {
    background-color: #2e292e;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #674d69;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para a seção "Sobre Mim" */
#about {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
    color: #333;
}

#about h2 {
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-image {
    flex: 1;
    margin-right: 20px;
}

.about-image img {
    width: 100%; /* Ajusta a largura da imagem */
    max-width: 300px; /* Limita o tamanho máximo da imagem */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve na imagem */
}

.about-text {
    flex: 2;
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        margin-bottom: 20px;
    }

    .about-text {
        text-align: center;
    }
}
